<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <title>DashBoard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/vendor/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/color_skins.css">
    <link rel="stylesheet" href="/css/animate.css">
</head>
<body class="theme-blush">
<!-- Navigation -->
<div th:fragment="navbar">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
            </div>

            <div class="navbar-brand">
                <a th:href="@{/dashboard}"><img src="images/logo-white.svg" alt="Lucid Logo" class="img-responsive logo"></a>
            </div>

            <div class="navbar-right">

                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="icon-bell"></i>
                                <span class="notification-dot"></span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li class="header"><strong>Vous avez  4 nouvelles Notifications</strong></li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-info text-warning"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">Campaign <strong>Holiday Sale</strong> is nearly reach budget limit.</p>
                                                <span class="timestamp">10:00 AM Today</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-like text-success"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">Your New Campaign <strong>Holiday Sale</strong> is approved.</p>
                                                <span class="timestamp">11:30 AM Today</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-pie-chart text-info"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">Website visits from Twitter is 27% higher than last week.</p>
                                                <span class="timestamp">04:00 PM Today</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="icon-info text-danger"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="text">Error on website analytics configurations</p>
                                                <span class="timestamp">Yesterday</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="footer"><a href="javascript:void(0);" class="more">Voir toutes les notifications</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="sidebar">
    <div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <img src="images/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
                <div class="dropdown" style="width: 100%">
                    <span>Bienvenue</span>
                </div>
                <hr>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu">Menu</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-l-0 p-r-0">
                <div class="tab-pane active" id="menu">
                    <nav id="left-sidebar-nav" class="sidebar-nav">
                        <ul id="main-menu" class="metismenu">
                            <li class="active">
                                <a th:href="@{/dashboard}" class="has-arrow"><i class="icon-home"></i> <span>Tableau de Bord</span></a>
                            </li>
                            <li>
                                <a href="" class="has-arrow"><i class="icon-screen-tablet"></i> <span>Gestion Salle de Classe</span></a>
                                <ul>
                                    <li><a th:href="@{/addClassroom}">Ajouter</a></li>
                                    <li><a th:href="@{/listClassroom}">Liste</a> </li>
                                </ul>
                            </li>
                            <li>
                                <a href="" class="has-arrow"><i class="icon-docs"></i> <span>Gestion Etudiant</span></a>
                                <ul>
                                    <li><a th:href="@{/addStudent}">Ajouter</a></li>
                                    <li><a th:href="@{/listStudent}">Liste</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:fragment="body-bottom-scripts">
    <!-- Javascript -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="/bundles/libscripts.bundle.js"></script>
    <script src="/bundles/vendorscripts.bundle.js"></script>

    <script src="/bundles/chartist.bundle.js"></script>
    <script src="/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="/vendor/toastr/toastr.js"></script>

    <script src="/bundles/mainscripts.bundle.js"></script>
    <script src="/js/index.js"></script>
    <script src="/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="/js/dialogs.js"></script>
    <script src="/vendor/mymain.js"></script>

    <script src="/bundles/datatablescripts.bundle.js"></script>
    <script src="/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>

    <script src="/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->


    <script src="/bundles/mainscripts.bundle.js"></script>
    <script src="/js/pages/tables/jquery-datatable.js"></script>
</div>

</body>
</html>
