<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common-header"/>
<body class="theme-cyan">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"></div>
        <p>Veuillez patienter...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->

<div id="wrapper">

    <div th:replace="fragments/common :: navbar"/>

    <div th:replace="fragments/common :: sidebar"/>


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Tableau de Bord</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Gestion des salles de classe</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Ajouter une salle de classe</h2>
                        </div>
                        <div class="body">
                            <form id="basic-form" th:action="@{/saveClassroom}" method="post" >
                                <input type="hidden" name="id" th:value="${classroom.id}" />
                                <div class="form-group col-md-6">
                                    <label for="classroomName">Libelle de la classe</label>
                                    <input type="text" class="form-control" required placeholder="Libelle de la classe" th:value="${classroom.classroomName}"
                                           id="classroomName" name="classroomName" roleId="classroomName">
                                           
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="abbreviation">Libelle de la classe</label>
                                    <input type="text" class="form-control" required placeholder="Abreviation de la classe" th:value="${classroom.abbreviation}"
                                           id="abbreviation" name="abbreviation" roleId="abbreviation">

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="classroomStudentsCount">Effectif</label>
                                    <input type="number" class="form-control" required placeholder="Effectif" th:value="${classroom.classroomStudentsCount}"
                                           id="classroomStudentsCount" name="classroomStudentsCount" roleId="classroomStudentsCount">
                                </div>
                                <input type="hidden"
                                       name="${_csrf.parameterName}"
                                       value="${_csrf.token}"/>
                                <div class="row">
                                    <div class="alert alert-success alert-dismissible col-md-6" role="alert" th:if="${success}">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-info-circle"></i> Enregistrement effectue avec succes !
                                    </div>
                                    <div class="alert alert-danger alert-dismissible col-md-6" role="alert" th:if="${error}">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-info-circle"></i> Erreur lors de l'enregistrement : Cette classe a deja ete enregistre !
                                    </div>
                                    <div class="alert alert-info alert-dismissible col-md-6" role="alert" th:if="${update}">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-info-circle"></i> Mise a jour effectue avec succes !
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-primary" style="margin-left: 15px;">Enegistrer</button>
                                <button type="button" class="btn btn-outline-secondary" style="margin-left: 15px;" >
                                    <a th:href="@{/listClassroom}">Annuler</a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div th:replace="fragments/common :: body-bottom-scripts"/>
</body>
</html>
