<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common-header"/>
<body class="theme-cyan">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"></div>
        <p>Veuillez patienter...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->

<div id="wrapper">

    <div th:replace="fragments/common :: navbar"/>

    <div th:replace="fragments/common :: sidebar"/>


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Tableau de Bord</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Gestion des etudiants</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Ajouter un etudiant</h2>
                        </div>
                        <div class="body">
                            <form id="basic-form" th:action="@{/saveStudent}" method="post" >
                                <input type="hidden" name="id" th:value="${student.id}" />
                                <div class="form-group col-md-6">
                                    <label for="lname">Nom</label>
                                    <input type="text" class="form-control" required placeholder="Nom" th:value="${student.lname}"
                                           id="lname" name="lname" roleId="lname">
                                           
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fname">Prenom(s)</label>
                                    <input type="text" class="form-control" required placeholder="Prenom(s)" th:value="${student.fname}"
                                           id="fname" name="fname" roleId="fname">
                                </div>
                                <div class="form-group col-md-6" th:if="${create}">
                                    <label for="dateOfBirth">Date</label>
                                    <input type="date" class="form-control" required placeholder="Date" th:value="${student.dateOfBirth}"
                                           id="dateOfBirth" name="dateOfBirth" roleId="dateOfBirth">
                                </div>

                                <div class="form-group col-md-6" th:if="${edit}">
                                    <label for="dateOfBirthUpdate">Date</label>
                                    <input type="text" class="form-control" disabled required placeholder="Date" th:value="${student.dateOfBirth}"
                                           id="dateOfBirthUpdate" name="dateOfBirth" roleId="dateOfBirth">
                                </div>

                                <div class="form-group col-md-6" id="updatediv">
                                    <label for="dateOfBirthUpdate1">Date</label>
                                    <input type="text" class="form-control" disabled required placeholder="Date" th:value="${student.dateOfBirth}"
                                           id="dateOfBirthUpdate1" name="dateOfBirth" roleId="dateOfBirth">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="classroomName">Veuillez sélectionner la classe :</label>
                                    <select class="form-control"
                                            th:value="${classroomName}" name="classroomName" id="classroomName" required="required">
                                        <option disabled="disabled" selected="selected" th:if="${create}"> -- Selectionner une classe -- </option>
                                        <option disabled="disabled" selected="selected" data-th-text="${student.classroom.classroomName}" th:if="${edit}"></option>
                                        <option data-th-each="classroom : ${listClassroom}" data-th-text="${classroom.classroomName}"></option>
                                    </select>
                                </div>


                                <input type="hidden"
                                       name="${_csrf.parameterName}"
                                       value="${_csrf.token}"/>

                                <div class="row">
                                    <div class="alert alert-success alert-dismissible col-md-6" role="alert" th:if="${success}">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-info-circle"></i> Enregistrement effectue avec succes !
                                    </div>
                                    <div class="alert alert-danger alert-dismissible col-md-6" role="alert" th:if="${error}">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-info-circle"></i> Erreur lors de l'enregistrement : Etudiant(e) deja inscrit(e) dans cette classe !
                                    </div>
                                    <div class="alert alert-danger alert-dismissible col-md-6" role="alert" th:if="${effectif_error}">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-info-circle"></i> Erreur lors de l'enregistrement : L'effectif de la classe est atteint !
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-primary" style="margin-left: 15px;">Enegistrer</button>
                                <button type="button" class="btn btn-outline-secondary" style="margin-left: 15px;" >
                                    <a th:href="@{/listStudent}">Annuler</a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div th:replace="fragments/common :: body-bottom-scripts"/>
    <script>
        let updateDiv = $('#updatediv');
        updateDiv.hide();
    </script>
</body>
</html>
