<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common-header"/>
<body class="theme-cyan">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"></div>
        <p>Veuillez patienter...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->

<div id="wrapper">

    <div th:replace="fragments/common :: navbar"/>

    <div th:replace="fragments/common :: sidebar"/>


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Tableau de Bord</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Gestion des etudiants</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header row">
                            <div class="col-md-9">
                                <h2 class="animated zoomIn"> <img src="images/ecommerce/visa-card.png" class="m-r-5"></h2>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/addStudent}"
                                   data-placement="bottom"
                                   class="btn btn-outline-info"><i class="icon-plus"></i> Ajouter un etudiant</a>

                                <a th:href="@{/dashboard}"
                                   data-placement="bottom"
                                   class="btn btn-outline-dark"><i class="icon-home"></i> Tableau de bord</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="sparkline m-b-20" data-type="bar" data-width="97%" data-height="60px" data-bar-Width="3" data-bar-Spacing="8" data-bar-Color="#00ced1">2,-1,5,6,4,8,7,-5,6,2,3,5,6,2,-3,4,-2</div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover js-basic-example dataTable table-custom">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>NOM</th>
                                        <th>PRENOM(S)</th>
                                        <th data-breakpoints="sm xs">DATE DE NAISSANCE</th>
                                        <th data-breakpoints="sm xs">CLASSE</th>
                                        <th data-breakpoints="sm xs">ACTION(S)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="student : ${listStudent}">
                                        <td th:text="${student.lname}" >LIBELLE</td>
                                        <td th:text="${student.fname}">ABBREVIATION</td>
                                        <td th:text="${student.dateOfBirth}">EFFECTIF</td>
                                        <td th:text="${student.classroom.classroomName}">EFFECTIF</td>
                                        <td>
                                            <a th:href="@{/editStudent?studentId=}+${student.id}"
                                               data-placement="bottom" title="Modifier"
                                               class="btn btn-outline-secondary"><i class="icon-pencil"></i></a>
                                            <a th:href="@{/deleteStudent?studentId=}+${student.id}"
                                               data-placement="top" title="Supprimer"
                                               class="btn btn-outline-danger"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div th:replace="fragments/common :: body-bottom-scripts"/>
</body>
</html>
